  <uib-tabset active="active">
    <uib-tab index="0" heading="Set Current Semester">
      
    </uib-tab>
    <uib-tab index="1" heading="Add a Class">
      <div class="container">
        <h2 class="title">Add A Class</h2>
        <form name="newClassForm" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label form-text">Semester:</label>
            <div class="col-sm-3">
              <input class="form-control" ng-disabled="edit" type="text" ng-model="class.semester" placeholder="" required >
            </div> 
          </div>
          
        </form>
          <button class="btn btn-success pull-left"  ng-click="submit()" >
            <span class="glyphicon glyphicon-save"></span>Submit
          </button>
          <a href="">
            <button class="btn pull-right">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>
          </a>
      </div>
    </uib-tab>
    <uib-tab index="2" heading="Add/Delete Student">
      <label for="classSelect">Please Select a Class</label><br>
        <select name="classSelect" id="classSelect" ng-model="classSelect">
          <option value="">---Please select---</option>
          <option value="Intro">Intro To IT</option> 
          <option value="WebSys">Web Systems</option>
          <option value="WebSci">Web Science</option>
          <option value="Capstone">Capstone</option>
        </select>
    </uib-tab>
  </uib-tabset>