<div class="container">
	<a class="bottom-spacing" href="/#/">&#8592; Back to Sign In</a>
	<div ng-show="dates" >
		<table ng-show="dates" class="table table-striped">
	        <thead><tr>
	          <th>Date</th>
	          <th>Present</th>
	        </tr></thead>
	        <tbody>
	          <tr ng-repeat="date in dates">
	            <td>{{date.date}}</td>
	            <td ng-switch="{{date.present}}">
	            	<img ng-switch-when="true" width="20px" ng-src="resources/images/greenCheck.png">
					<img ng-switch-when="false" width="20px" ng-src="resources/images/redCross.png">
	            </td>
	          </tr>
	          <tr>
	          	<td>Total:</td>
	          	<td>{{total}}</td>
	          </tr>
	        </tbody>
	    </table>
	</div>
</div>