

<div class="container-fluid">

	<uib-tabset active="active">
	    <uib-tab heading="Attendance By Date">
			<div class="col-md-6">
				<label for="date.classSelect">Please Select a Class</label><br>
				<select name="date.classSelect" id="date.classSelect" ng-model="date.classSelect">
					<option value="">---Please select---</option>
					<option ng-repeat="class in classes" value="{{class._id}}">{{class.className + " " + class.section}}</option>
				</select>
				<h4 ng-show="date.classSelect">Calender</h4>
				<div ng-show="date.classSelect" style="display:inline-block; min-height:290px;">
					<uib-datepicker ng-model="date.dt" class="well well-sm" datepicker-options="inlineOptions"></uib-datepicker>
				</div>
			</div>
			<div class="col-md-6">
				<table ng-show="classList" class="table table-striped">
			        <thead><tr>
			          <th>Last</th>
			          <th>First</th>
			          <th>RCS</th>
			          <th>Present</th>
			        </tr></thead>
			        <tbody>
			          <tr ng-repeat="student in classList">
			            <td>{{student.lastName}}</td>
			          	<td>{{student.firstName}}</td>
			          	<td>{{student.rcs}}</td>
			            <td ng-switch="{{student.present}}">
			            	<img ng-switch-when="true" width="20px" ng-src="resources/images/greenCheck.png">
							<img ng-switch-when="undefined" width="20px" ng-src="resources/images/redCross.png">
			            </td>
			          </tr>
			        </tbody>
			    </table>
			    <h2 ng-show="noAttendance" ng-model="noAttendance">{{noAttendance}}</h2>
			</div>
		</uib-tab>
		<uib-tab index="1" heading="Attendance By Student">
			<label for="date.classSelectStudent">Please Select a Class</label><br>
			<select name="date.classSelectStudent" id="date.classSelectStudent" ng-change="getStudents(date.classSelectStudent); studentSelect=''" ng-model="date.classSelectStudent" ng-init="date.classSelectStudent=''">
				<option value="">---Please select---</option>
				<option ng-repeat="class2 in classes2" value="{{class2._id}}">{{class2.className + " " + class2.section}}</option>
			</select><br>
			<label ng-show="classList2" for="studentAttendance">Please Select a Student</label><br>
			<select ng-show="classList2" name="studentSelect" id="studentSelect" ng-model="studentSelect" ng-change="getAttendanceByStudent(studentSelect, date.classSelectStudent)" ng-init="studentSelect=''">
				<option value="">---Please Select---</option>
				<option ng-repeat="student2 in classList2" value="{{student2.rcs}}">{{student2.rcs}}</option>
			</select>
			<div ng-show="noDates" class="container">
				<h3>{{noDates}}</h3>
			</div>
			<div ng-show="dates" class="container">
				<ul>
					<li ng-repeat="date in dates">{{date.date}}</li>
				</ul>
			</div>
		</uib-tab>
	</uib-tabset>
</div>